.interfaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 20px;
  margin: 2rem 0;
  h1{
    font-family: $primary-font;
    margin-top: 2rem;
    color: $primary-color;
  }
}
