$breakpoints: (

  sm: 600px,
  md: 800px,
);

@mixin media-up($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint no válido";
  }
}


@mixin media-down($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint no válido";
  }
}


@mixin flex($dis, $direction, $wrap, $just, $align) {
  display: $dis;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}
